## 1. Configuración del entorno
En este taller usaremos también *Pandas*, que es el módulo para tratamiento de datos tabular que más se usa en Python.

Importamos ambos paquetes

In [1]:
import pandas as pd
import sqlite3

Lo primero que hacemos es **establecer conexión con la base de datos**. En este taller simplemente leeremos la base de datos de un archivo, pero lo normal es que tengamos que configurar la conexión a una base de datos de la empresa. Para ello existen otras librerías como `pyodbc` en el caso de un SQLServer o `cx_Oracle`, si el servidor es Oracle.

**¡Asegurate que tienes el archivo chinook.db en la ruta donde se encuentra este Notebook!**

In [2]:
import os
os.getcwd()

'/Users/carlosgomez/Desktop/the-bridge/sql_exercises/1-Ejercicios/Cervezas'

In [3]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("database.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [4]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [5]:
# Conectamos con la base de datos 
connection = sqlite3.connect("database.db")

crsr = connection.cursor()

Creamos la tabla

In [ ]:
query = ('''
    CREATE TABLE IF NOT EXISTS cervezas (
        CodE INTEGER PRIMARY KEY,
        CodB TEXT,
        CodC TEXT,
        Fecha DATE,
        Cantidad INT
    )
''')

crsr.execute(query)

In [ ]:
query = ('''
CREATE TABLE IF NOT EXISTS bares (
    CodB VARCHAR(2),
    Nombre VARCHAR(32),
    Cif VARCHAR(32),
    Localidad VARCHAR(32),
    PRIMARY KEY (CodB)
)
''')
crsr.execute(query)

In [ ]:
query =('''
CREATE TABLE IF NOT EXISTS reparto (
    CodE VARCHAR(2) NOT NULL,
    CodBVARCHAR(3) NOT NULL,
    CodC VARCHAR(2) NOT NULL,
    Fecha DATE NOT NULL,
    PRIMARY KEY (CodB)
)
''')
crsr.execute(query)

OperationalError: near "(": syntax error