In [ ]:
SELECT "date", type,description, city
FROM crime_scene_report
WHERE ("date" = 20180115) AND "city" = "SQL City" AND "type" = "murder"

Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

In [ ]:
SELECT *
FROM person
WHERE "address_street_name" = "Franklin Ave" AND "name" LIKE 'Annabel%'

16371	Annabel Miller	490173	103	Franklin Ave	318771143

In [ ]:
SELECT *
FROM person
WHERE "address_street_name" ="Northwestern Dr"

In [ ]:
SELECT MAX(address_number)
FROM person
WHERE "address_street_name" ="Northwestern Dr"

14887	Morty Schapiro	118009	4919	Northwestern Dr	111564949

In [ ]:
SELECT *
FROM drivers_license
WHERE "id" = "490173"

In [ ]:
id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
490173	35	65	green	brown	female	23AM98	Toyota	Yaris

In [ ]:
SELECT *
FROM drivers_license
WHERE "id" = "118009"

In [ ]:
id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
118009	64	84	blue	white	male	00NU00	Mercedes-Benz	E-Class

In [ ]:
SELECT *
FROM get_fit_now_member
WHERE person_id = 16371

id	person_id	name	membership_start_date	membership_status
90081	16371	Annabel Miller	20160208	gold

In [ ]:
SELECT *
FROM facebook_event_checkin
WHERE "date" = 20180115 AND "person_id" = 16371

In [ ]:
person_id	event_id	event_name	date
16371	4719	The Funky Grooves Tour	20180115

In [ ]:
SELECT *
FROM interview
WHERE person_id = 16371

In [ ]:
person_id	transcript
16371	I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

In [ ]:
SELECT *
FROM get_fit_now_member
WHERE membership_start_date	= 20180109

In [ ]:
id	person_id	name	membership_start_date	membership_status
3OOJ1	62367	Concha Fiveash	20180109	regular

In [ ]:
SELECT *
FROM interview
WHERE person_id	= 14887

person_id	transcript
14887	I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".

In [ ]:
SELECT *
FROM get_fit_now_member
WHERE "id" LIKE "48Z%" AND "membership_status" = "gold"

In [ ]:
id	person_id	name	membership_start_date	membership_status
48Z7A	28819	Joe Germuska	20160305	gold
48Z55	67318	Jeremy Bowers	20160101	gold

In [ ]:
SELECT *
FROM drivers_license
WHERE "plate_number" LIKE "%H42W%"

In [ ]:
id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
183779	21	65	blue	blonde	female	H42W0X	Toyota	Prius
423327	30	70	brown	brown	male	0H42W2	Chevrolet	Spark LS
664760	21	71	black	black	male	4H42WR	Nissan	Altima

In [ ]:
SELECT *
FROM get_fit_now_check_in
WHERE "membership_id" = "48Z55"

In [ ]:
membership_id	check_in_date	check_in_time	check_out_time
48Z55	20180109	1530	1700

In [ ]:
POR EL DIA, FUE Jeremy Bowers

In [ ]:
SELECT *
FROM interview
WHERE person_id = 67318

I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.

In [ ]:
SELECT *
FROM drivers_license
WHERE "hair_color" = "red" AND "car_make" = "Tesla" AND "heigh"

In [ ]:
id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
202298	68	66	green	red	female	500123	Tesla	Model S
291182	65	66	blue	red	female	08CM64	Tesla	Model S
736081	79	69	brown	red	male	GCAQ6Y	Tesla	Model S
918773	48	65	black	red	female	917UU3	Tesla	Model S

In [ ]:
SELECT *
FROM person
WHERE "license_id" = "918773"

In [ ]:
id	name	license_id	address_number	address_street_name	ssn
78881	Red Korb	918773	107	Camerata Dr	961388910

In [ ]:
id	name	license_id	address_number	address_street_name	ssn
90700	Regina George	291182	332	Maple Ave	337169072

In [ ]:
id	name	license_id	address_number	address_street_name	ssn
99716	Miranda Priestly	202298	1883	Golden Ave	987756388

In [ ]:
id	name	license_id	address_number	address_street_name	ssn
57410	Cletus Zoeller	736081	2987	Kingham Way	924648898

In [ ]:
SELECT *
FROM facebook_event_checkin
WHERE person_id = 99716

In [ ]:
person_id	event_id	event_name	date
99716	1143	SQL Symphony Concert	20171206
99716	1143	SQL Symphony Concert	20171212
99716	1143	SQL Symphony Concert	20171229

In [ ]:
value
Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!